

<h1>Sign Up</h1>

<form action="/signup" method="post">

<label for="usernameInput">Username</label>
<input type="text" name="username" id="usernameInput" />

<label for="passwordInput">Password</label>
<input type="password" name="password" id="passwordInput" />

<button type="submit">Sign Up</button>

</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}